.toast {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    background: white;
    padding: 15px 30px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #4bb543;
    overflow: hidden;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: white;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4bb543;
}

.toast-content .bx-check-circle {
    font-size: 29px;
    color: #4bb543;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 17px;
}

.message .text.text-1 {
    font-weight: bold;
}

.message .text.text-2 {
    font-size: 15px;
}

.toast .bx-error-circle {
    color: red;
}