footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6px 1rem;
}

.footer-section {
    flex: 1;
    margin-right: 1rem;
}

.footer-section h4 {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.05rem;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    padding: 0;
    font-size: 16px;
    position: relative;
}

.footer-section ul li a:hover {
    background-color: transparent;
}

.footer-section ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1.5px;
    background-color: #fc4903;
}

.footer-bottom {
    background-color: hsl(0, 0%, 8%);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer-bottom p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: hsl(0, 0%, 50%)
}