.toast {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    background: white;
    padding: 15px 30px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.toast.show {
    opacity: 1;
    pointer-events: auto;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .bx-check-circle {
    font-size: 29px;
    color: #4bb543;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 17px;
}

.message .text.text-1 {
    font-weight: bold;
}

.message .text.text-2 {
    font-size: 15px;
}

.toast .bx-error-circle {
    color: red;
}